.dashboard {
  overflow-y: auto;
}

/* ---- Navbar Style Start ---- */
.navbar {
  position: absolute;
  background-color: #000522a1;
  height: 122px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 36px 16px 36px;
  top: 0px;
  width: 94%;
  z-index: 999;
}
.nav-logo {
  background-color: #ffffff;
  height: 90px;
  width: 90px;
  border-radius: 50%;
}
.nav-items {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}
.navbar-item {
  background-color: #ffe600;
  padding: 12px;
  font-size: 12px;
  font-weight: 700;
}
/* ---- Navbar Style End ---- */

/* ---- Hero Style Start ---- */
.hero-img {
  width: 100%;
  height: 740px;
  position: relative;
  z-index: 99;
}
.hero-img > img {
  width: 100%;
  height: 740px;
}
.bg-color {
  position: absolute;
  width: 100%;
  height: 740px;
  background-color: #00308091 !important;
}
.hero-title {
  width: 100%;
  height: 400px;
  position: absolute;
  z-index: 999;
  top: 30vh;
  display: flex;
  justify-content: center;
  align-items: start;
}

.hero-icon {
  background-color: #ffffff;
  height: 90px;
  width: 90px;
  margin-left: 40%;
}
.hero-title > div {
  text-align: center;
}
.hero-title > div > h1 {
  color: #ffe600;
  font-size: 48px;
  font-weight: 800;
  text-transform: uppercase;
}
.hero-title > div > h4 {
  color: #ffffffd4;
  font-size: 24px;
  font-weight: 600;
  margin-top: -20px;
}
.hero-title > div > button {
  color: #003080;
  font-size: 20px;
  font-weight: 700;
  border-radius: 52px;
  background-color: #ffffff;
  padding: 20px 0px 20px 0px;
  width: 40%;
  border: none;
}
/* ---- Hero Style End ---- */

/* ---- Home Page Style Start ---- */
.quick-shop {
  position: relative;
  display: flex;
  justify-content: end;
  padding: 5%;
}
.quick-shop > img {
  border-radius: 37px;
  width: 949px;
  height: 678px;
}
.quick-shop-details {
  position: absolute;
  border-radius: 30px;
  width: 550px;
  height: 410px;
  background-color: #ffffff;
  border: 1px solid #d9d9d9;
  z-index: 99;
  left: 8%;
  top: 16%;
  padding: 5%;
}
.quick-shop-details > h2 {
  font-size: 40px;
  font-weight: 700;
  color: #212529;
  margin: 0px;
}
.quick-shop-details > button {
  margin-top: 20px;
  color: #003080;
  font-size: 18px;
  font-weight: 700;
  border-radius: 6px;
  background-color: #ffffff;
  height: 52px;
  border: 1px solid #003080;
  padding: 0 10%;
}

.title-line {
  width: 100%;
  height: 540px;
  position: relative;
  z-index: 99;
}
.title-line > img {
  width: 100%;
  height: 540px;
}
.title-line-bg {
  position: absolute;
  width: 100%;
  height: 540px;
  background-color: #003080eb;
}
.title-line-details {
  width: 90%;
  height: 400px;
  position: absolute;
  z-index: 999;
  top: 6vh;
  text-align: center;
  padding: 0 5%;
}

.title-line-icon {
  background-color: #ffffff;
  height: 90px;
  width: 90px;
}
.title-line-details > div {
  display: flex;
  justify-content: center;
}
.title-line-details > h1 {
  color: #ffe600;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
}
.title-line-details > p {
  color: #ffffffd4;
  font-size: 18px;
  font-weight: 500;
  text-align: start;
  line-height: 30px;
}
.title-line-details > button {
  margin-top: 20px;
  color: #003080;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  background-color: transparent;
  border: none;
}
.liner-section {
  position: relative;
  height: 1123px;
  padding: 5%;
  display: flex;
  justify-content: center;
}
.liner-section > img {
  height: 860px;
  width: 100%;
  padding: 5%;
}
.liner-details {
  position: absolute;
  border-radius: 30px;
  width: 500px;
  height: 400px;
  background-color: #ffffff;
  border: 1px solid #d9d9d9;
  z-index: 99;
  padding: 4%;
}
.liner-details > h2 {
  font-size: 40px;
  font-weight: 700;
  color: #212529;
  margin: 0px;
}
.liner-details > button {
  margin-top: 20px;
  color: #003080;
  font-size: 18px;
  font-weight: 700;
  border-radius: 1px;
  background-color: #ffffff;
  height: 52px;
  border: 1px solid #003080;
  padding: 0 5%;
}
.right-card {
  right: 8%;
  top: 5%;
}
.left-card {
  left: 8%;
  bottom: 10%;
}

.yellow-title-section {
  width: 100%;
  height: 680px;
  position: relative;
  z-index: 99;
}
.yellow-title-section > img {
  width: 100%;
  height: 680px;
}
.yellow-title-bg {
  position: absolute;
  width: 100%;
  height: 680px;
  background-color: #003080eb;
}

.yellow-title-icon {
  background-color: #ffffff;
  height: 160px;
  width: 160px;
  border-radius: 50%;
}

.title-line-details > h1 {
  color: #ffe600;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
}
.title-line-details > h4 {
  color: #ffffff;
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
}
.title-line-details > p {
  color: #ffffffd4;
  font-size: 18px;
  font-weight: 500;
  text-align: start;
  line-height: 30px;
}
.title-line-details > button {
  margin-top: 20px;
  color: #003080;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  background-color: transparent;
  border: none;
}

.one-liner-section {
  padding: 5%;
  text-align: center;
}
.one-liner-section > h4,
.second-events-section > h4,
.notice-events-section > h4 {
  font-size: 34px;
  font-weight: 700;
  color: #212529;
  text-transform: uppercase;
}
.one-liner-section > p {
  font-size: 18px;
  font-weight: 500;
  color: #21252999;
  margin-top: -20px;
  text-align: center;
}
.explore-section {
  padding: 5%;
  display: flex;
  justify-content: center;
  background-color: #edf1ff4f;
  margin-bottom: 4%;
}
.explore-details > h4 {
  font-size: 27px;
  font-weight: 700;
  color: #212529;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 10px;
}
.explore-details > p {
  font-size: 18px;
  font-weight: 500;
  color: #21252999;
  line-height: 30px;
}
.explore-img {
  position: relative;
}
.explore-img > img {
  width: 622px;
  height: 450px;
  border-radius: 20px;
}
.explore-img > div {
  height: 169px;
  width: 169px;
  border-radius: 50%;
  background-color: #003080;
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.pl {
  padding: 0 0 0 8%;
}
.first-explore-card {
  top: 45%;
  right: 75%;
}
.pr {
  padding: 0 8% 0 0;
}
.second-explore-card {
  top: 45%;
  left: 75%;
}
.more-section {
  display: flex;
  justify-content: center;
}
.more-section > button {
  margin-top: 20px;
  color: #003080;
  font-size: 18px;
  font-weight: 700;
  border-radius: 6px;
  background-color: #ffffff;
  height: 52px;
  border: 1px solid #003080;
  padding: 0 5%;
}

.branch-section {
  padding: 0 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 3%;
}
.first-branch,
.third-branch {
  width: 300px;
  height: 500px;
  position: relative;
}
.first-branch > img,
.third-branch > img {
  border-radius: 30px;
  width: 300px;
  height: 500px;
}
.second-branch {
  width: 388px;
  height: 600px;
  position: relative;
}
.second-branch > img {
  border-radius: 30px;
  width: 388px;
  height: 600px;
}
.first-branch > button,
.second-branch > button,
.third-branch > button {
  color: #222222;
  font-size: 22px;
  font-weight: 700;
  border-radius: 52px;
  background-color: #ffe600;
  padding: 17.6px 28.6px 17.6px 28.6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  position: absolute;
  z-index: 99;
  bottom: 10%;
  left: 25%;
}
.notice-events-section,
.second-events-section {
  padding: 5%;
  text-align: center;
}
.notice-details {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 20px;
}
.preview-notice,
.notice-events {
  text-align: start;
  width: 45%;
}
.preview-notice > img {
  width: 600px;
  height: 300px;
  border-radius: 18px;
}
.preview-notice > h4 {
  font-size: 24px;
  font-weight: 600;
}
.all-notice {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 10px;
  margin-bottom: 4%;
}
.all-notice > img {
  width: 300px;
  height: 150px;
  border-radius: 18px;
}
.all-notice-details {
  text-align: start;
}
.all-notice-details > span {
  font-size: 22px;
  font-weight: 600;
}
.second-notice-details {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 20px;
}
.second-preview-notice,
.notice-events {
  text-align: start;
  width: 45%;
}
.second-preview-notice > img {
  width: 550px;
  height: 450px;
  border-radius: 6px 6px 0px 0px;
}
.second-preview-date {
  width: 550px;
  border-radius: 0px 0px 6px 6px;
  margin-top: -4px;
  background-color: #003fa9;
  display: flex;
  justify-content: start;
  gap: 20px;
  align-items: start;
}
.second-preview-date > h6 {
  color: white;
  width: 110px;
  background-color: #003080;
  padding: 12px 0px 12px 0px;
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  border-radius: 0px 0px 6px 6px;
  margin: 1px 0px;
}
.second-preview-date > div {
  color: white;
  padding: 12px 0px 12px 0px;
  text-align: start;
  border-radius: 0px 0px 6px 6px;
  margin: -15px 0px;
}
.second-preview-date > div > h4 {
  font-size: 23px;
  font-weight: 700;
  margin: 0px 0px;
  margin-top: 15px;
  margin-bottom: -12px;
}
.preview-notice > h4 {
  font-size: 24px;
  font-weight: 600;
}
.second-notice-events {
  text-align: start;
  width: 48%;
}

.second-all-notice > h6 {
  color: white;
  width: 110px;
  background-color: #003080;
  padding: 12px 0px 12px 0px;
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  border-radius: 6px;
  margin: 1px 0px;
}

.second-all-notice {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 10px;
  margin-bottom: 4%;
  border-bottom: 1px solid gainsboro;
  margin-bottom: 5%;
  padding: 2% 0%;
}
.second-notice-details {
  text-align: start;
}
.second-notice-details > span {
  font-size: 22px;
  font-weight: 600;
}

.second-notice-events > button {
  margin-top: 20px;
  color: #003080;
  font-size: 18px;
  font-weight: 700;
  border-radius: 6px;
  background-color: #ffffff;
  height: 52px;
  border: 1px solid #003080;
  padding: 0 5%;
}
.multiple-cards-section {
  padding: 0px 3%;
  display: flex;
  gap: 3%;
}
.single-card {
  width: 273px;
  height: 373px;
  background-color: #a0a0a0;
  border-radius: 30px;
  margin-bottom: 12%;
}
.second-cards-section,
.fourth-cards-section {
  margin-top: 8%;
}
.learn-more-section {
  text-align: center;
  padding: 5%;
}
.learn-more-section > button {
  margin-top: 20px;
  color: #003080;
  font-size: 18px;
  font-weight: 700;
  border-radius: 6px;
  background-color: #ffffff;
  height: 52px;
  border: 1px solid #003080;
  padding: 0 5%;
}
.map-section {
  padding: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #003080;
}
.circle {
  width: 118px;
  height: 118px;
  border-radius: 50%;
  background-color: white;
}
.address > h4 {
  font-size: 28px;
  font-weight: 700;
  color: #ffe600;
  text-transform: uppercase;
  margin: 25px 0px 25px 0px;
}
.address > p {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  margin: 6px 0px 0px 0px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.map {
  position: relative;
}
.map > img {
  position: absolute;
  top: 40%;
  left: 46%;
}
.footer-section {
  width: 98%;
  background-color: #001029;
  padding: 1%;
  text-align: center;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
}

/* ---- Home Page Style End ---- */
